if ARCH_NEXELL

choice
        prompt "Nexell SoCs select"

config ARCH_NXP3220
	bool "NXP3220"
	select CPU_V7
	select DM

config ARCH_SIP_S31NX
	bool "SIP_S31NX"
	select CPU_V7
	select DM

endchoice

config SYS_SOC
	default "nxp3220"
	depends on ARCH_NXP3220 || ARCH_SIP_S31NX

config SYS_VENDOR
        default "nexell"

source "board/nexell/Kconfig"

endif
