if ARCH_NEXELL

choice
        prompt "Nexell SoCs select"

config ARCH_NXP3220
	bool "NXP3220"
	select CPU_V7
	select DM

config ARCH_NXP3225
	bool "NXP3225"
	select CPU_V7
	select DM

endchoice

config SYS_SOC
	default "nxp3220"
	depends on ARCH_NXP3220 || ARCH_NXP3225

config SYS_VENDOR
        default "nexell"

config QUICKBOOT_QUIET
	bool "NEXELL QUICKBOOT QUIET"
	help
	  Support for nexell quickboot quiet

config REBOOT_MODE
	bool "Support reboot mode"
        default y
	help
	  Support for nexell reboot mode (reboot bootloader, reboot recovery)

config NEXELL_SECURE_IO
	bool
	select ARM_PSCI_FW

source "board/nexell/Kconfig"

endif
