/*
 * (C) Copyright 2018 Nexell
 * JungHyun, Kim <jhkim@nexell.co.kr>
 *
 * SPDX-License-Identifier:      GPL-2.0+
 */

/dts-v1/;

#include "nxp3220.dtsi"
/ {
	model = "Nexell nxp3220 validation test board";
	compatible = "nexell,nxp3220";

	aliases {
		serial2 = &uart2;
	};

	chosen {
		stdout-path = "serial2:115200n8";
		tick-timer = &timer0;
	};

	clock_pll: clock-src@27020000 {
		frequency = <0 800000000>,
			    <1 400000000>;
	};

	clock_sys: clock-sys@27010000 {
		clk-init-frequency = <UART_2_CORE_CLK 100000000 1>,
				     <UART_2_APB_CLK 100000000 1>,
				     <TIMER_0_APB_CLK 100000000 1>,
				     <TIMER_0_TCLK0_CLK 100000000 1>,
				     <TIMER_0_TCLK1_CLK 100000000 1>,
				     <PWM_0_TCLK0_CLK 100000000 1>,
				     <PWM_0_TCLK1_CLK 100000000 1>,
				     <PWM_0_TCLK2_CLK 100000000 1>,
				     <PWM_0_TCLK3_CLK 100000000 1>;
	};
};

&dwc2otg {
	status = "okay";
};

&mmc0 {
	nexell,sample_shift = <0x04>;
	nexell,drive_shift = <0x04>;
	frequency = <50000000>;
	status = "okay";
};

&mmc1 {
	nexell,sample_shift = <0x04>;
	nexell,drive_shift = <0x04>;
	frequency = <50000000>;
	status = "okay";
};

&mmc2 {
	nexell,sample_shift = <0x04>;
	nexell,drive_shift = <0x04>;
	frequency = <50000000>;
	status = "okay";
};

&uart2 {
	clock-frequency = <100000000>;
	status = "okay";
};

&udown {
	status = "okay";
};
