/*
 * (C) Copyright 2018 Nexell
 * JungHyun, Kim <jhkim@nexell.co.kr>
 *
 * SPDX-License-Identifier:      GPL-2.0+
 */

/dts-v1/;

#include "nxp3220.dtsi"
#include <dt-bindings/gpio/gpio.h>
/ {
	compatible = "nexell,nxp3220";

	aliases {
		serial2 = &uart2;
		i2c0    = &i2c_0;
		spi0	= &spi_0;
	};

	chosen {
		stdout-path = "serial2:115200n8";
		tick-timer = &timer0;
	};

	clock_pll: clock-src@27020000 {
		frequency = <0 1000000000>,
			    <1 400000000>;
	};

	clock_sys: clock-sys@27010000 {
		clk-init-frequency = <UART_2_CORE_CLK 100000000 1>,
				     <UART_2_APB_CLK 100000000 1>,
				     <TIMER_0_APB_CLK 100000000 1>,
				     <TIMER_0_TCLK0_CLK 100000000 1>,
				     <TIMER_0_TCLK1_CLK 100000000 1>,
				     <PWM_0_TCLK0_CLK 100000000 1>,
				     <PWM_0_TCLK1_CLK 100000000 1>,
				     <PWM_0_TCLK2_CLK 100000000 1>,
				     <PWM_0_TCLK3_CLK 100000000 1>,
				     <I2C_0_APB_CLK 100000000 1>,
				     <SPI_0_APB_CLK 100000000 1>,
				     <GMAC_RGMII_0_AXI_CLK 250000000 1>,
				     <GMAC_RGMII_0_APB_CLK 125000000 1>,
				     <GMAC_RGMII_0_TX_CLK_CLK 125000000 1>,
				     <GMAC_RGMII_0_PTP_REF_CLK 25000000 1>,
				     <GMAC_RMII_0_AXI_CLK 250000000 1>,
				     <GMAC_RMII_0_APB_CLK 125000000 1>,
				     <GMAC_RMII_0_PTP_REF_CLK 25000000 1>;
	};
};

&dwc2otg {
	status = "okay";
};

&gmac0 {
	phy-mode = "rgmii";
	phy-handle = <&ethphy0>;
	status = "okay";

	phy-reset-gpios = <&gpio_alv 5 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&gmac0_txd>, <&gmac0_rxd>, <&gmac0_txen>,
		    <&gmac0_rxen>, <&gmac0_mdc>, <&gmac0_mdio>,
		    <&gmac0_rxclk>, <&gmac0_txclk>, <&gmac0_nrst>;

	mdio@3 {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@3 {
			reg = <3>;
		};
	};
};

&mmc0 {
	nexell,sample_shift = <0x04>;
	nexell,drive_shift = <0x04>;
	frequency = <50000000>;
	status = "okay";
};

&mmc1 {
	nexell,sample_shift = <0x04>;
	nexell,drive_shift = <0x04>;
	frequency = <50000000>;
	status = "okay";
};

&mmc2 {
	nexell,sample_shift = <0x04>;
	nexell,drive_shift = <0x05>;
	frequency = <50000000>;
	status = "okay";
};

&pinctrl {
	gmac0_nrst: gmac-nrst {
		nexell,pins = "gpiod-4";
		nexell,pin-function = <NX_PIN_FUNC0>;
		nexell,pin-pull = <NX_PIN_PULL_UP>;
		nexell,pin-strength = <NX_PIN_STR1>;
	};
};

&uart2 {
	clock-frequency = <100000000>;
	status = "okay";
};

&udown {
	status = "okay";
};

&usb2phy {
	status = "okay";
};

&i2c_0 {
	status = "okay";
	u-boot,dm-pre-reloc;
	#address-cells = <1>;
	#size-cells = <0>;

	nxe1500: nxe1500@33 {
		compatible = "nexell,nxe1500";
		reg = <0x33>;

		voltage-regulators {
			dcdc0: BUCK0 {
				regulator-name = "dcdc1";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3500000>;
				regulator-always-on = <1>;
				regulator-boot-on = <1>;
			};

			dcdc1: BUCK1 {
				regulator-name = "dcdc2";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3500000>;
				regulator-always-on = <1>;
				regulator-boot-on = <1>;
			};

			dcdc2: BUCK2 {
				regulator-name = "dcdc3";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3500000>;
				regulator-always-on = <1>;
				regulator-boot-on = <1>;
			};

			dcdc3: BUCK3 {
				regulator-name = "dcdc4";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3500000>;
				regulator-always-on = <1>;
				regulator-boot-on = <1>;
			};

			ldo0: LDO0 {
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <3500000>;
				regulator-name = "ldo1";
			};

			ldo1: LDO1 {
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <3500000>;
				regulator-name = "ldo2";
			};

			ldo2: LDO2 {
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <3500000>;
				regulator-name = "ldo3";
			};

			ldo3: LDO3 {
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <3500000>;
				regulator-name = "ldo4";
			};

			ldo4: LDO4 {
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3500000>;
				regulator-name = "ldo5";
			};

			ldortc1: LDO10 {
				regulator-min-microvolt = <1700000>;
				regulator-max-microvolt = <3500000>;
				regulator-name = "ldortc1";
				regulator-always-on = <1>;
				regulator-boot-on = <1>;
			};

			ldortc2: LDO11 {
				regulator-min-microvolt = <1700000>;
				regulator-max-microvolt = <3500000>;
				regulator-name = "ldortc2";
				regulator-always-on = <1>;
				regulator-boot-on = <1>;
			};
		}; /* voltage-regulators */
	};
};
