/*
 * (C) Copyright 2018 Nexell
 * Jongkeun, Choi <jkchoi@nexell.co.kr>
 *
 * SPDX-License-Identifier:      GPL-2.0+
 */

#include "skeleton.dtsi"
#include <dt-bindings/clock/nxp3220-clk.h>

/ {
	#include "nxp3220-clk.dtsi"

	aliases {
		serial2 = &uart2;
	};

	psci {
		compatible = "arm,psci-0.2";
		method = "smc";
	};

	pinctrl: pinctrl@20180000 {
		compatible = "nexell,nxp3220-pinctrl";
		reg = <0x20180000 0x1000>,
		      <0x20190000 0x1000>,
		      <0x201a0000 0x1000>,
		      <0x201b0000 0x1000>,
		      <0x201c0000 0x1000>,
		      <0x2008d000 0x1000>;
		reg-names = "gpioa", "gpiob", "gpioc", "gpiod", "gpioe",
		            "alive";
		u-boot,dm-pre-reloc;
	};

	gpio_a: gpio@20180000 {
		compatible = "nexell,nxp3220-gpio";
		reg = <0x20180000 0x100>;
		nexell,gpio-bank-width = <32>;
		gpio-bank-name = "gpio_a";
		gpio-controller;
		#gpio-cells = <2>;
	};

	gpio_b: gpio@20190000 {
		compatible = "nexell,nxp3220-gpio";
		reg = <0x20190000 0x100>;
		nexell,gpio-bank-width = <32>;
		gpio-bank-name = "gpio_b";
		gpio-controller;
		#gpio-cells = <2>;
	};

	gpio_c: gpio@201a0000 {
		compatible = "nexell,nxp3220-gpio";
		reg = <0x201a0000 0x100>;
		nexell,gpio-bank-width = <32>;
		gpio-bank-name = "gpio_c";
		gpio-controller;
		#gpio-cells = <2>;
	};

	gpio_d: gpio@201b0000 {
		compatible = "nexell,nxp3220-gpio";
		reg = <0x201b0000 0x100>;
		nexell,gpio-bank-width = <32>;
		gpio-bank-name = "gpio_d";
		gpio-controller;
		#gpio-cells = <2>;
	};

	gpio_e: gpio@201c0000 {
		compatible = "nexell,nxp3220-gpio";
		reg = <0x201c0000 0x100>;
		nexell,gpio-bank-width = <32>;
		gpio-bank-name = "gpio_e";
		gpio-controller;
		#gpio-cells = <2>;
	};

	gpio_alv: gpio@2008d000 {
		compatible = "nexell,nxp3220-gpio";
		reg = <0x2008d000 0x1000>;
		nexell,gpio-bank-width = <32>;
		gpio-bank-name = "gpio_alv";
		gpio-controller;
		#gpio-cells = <2>;
	};

	uart0: serial@20400000 {
		compatible = "snps,dw-apb-uart";
		reg = <0x20400000 0x1000>;
		reg-shift = <2>;
		reg-io-width = <4>;
		clocks = <&clock_sys UART_0_CORE_CLK>,
		      <&clock_sys UART_0_APB_CLK >;
		clock-names = "baudclk", "apb_pclk";
		pinctrl-names = "default";
		pinctrl-0 = <&uart0_bus>;
		status = "disabled";
	};

	uart1: serial@20410000 {
		compatible = "snps,dw-apb-uart";
		reg = <0x20410000 0x1000>;
		reg-shift = <2>;
		reg-io-width = <4>;
		clocks = <&clock_sys UART_1_CORE_CLK>,
		      <&clock_sys UART_1_APB_CLK >;
		clock-names = "baudclk", "apb_pclk";
		pinctrl-names = "default";
		pinctrl-0 = <&uart1_bus>;
		status = "disabled";
	};

	uart2: serial@20420000 {
		compatible = "snps,dw-apb-uart";
		reg = <0x20420000 0x1000>;
		reg-shift = <2>;
		reg-io-width = <4>;
		clocks = <&clock_sys UART_2_CORE_CLK>,
		      <&clock_sys UART_2_APB_CLK >;
		clock-names = "baudclk", "apb_pclk";
		pinctrl-names = "default";
		pinctrl-0 = <&uart2_bus>;
		status = "disabled";
	};

	uart3: serial@20430000 {
		compatible = "snps,dw-apb-uart";
		reg = <0x20430000 0x1000>;
		reg-shift = <2>;
		reg-io-width = <4>;
		clocks = <&clock_sys UART_3_CORE_CLK>,
		      <&clock_sys UART_3_APB_CLK >;
		clock-names = "baudclk", "apb_pclk";
		pinctrl-names = "default";
		pinctrl-0 = <&uart3_bus>;
		status = "disabled";
	};

	uart4: serial@20440000 {
		compatible = "snps,dw-apb-uart";
		reg = <0x20440000 0x1000>;
		reg-shift = <2>;
		reg-io-width = <4>;
		clocks = <&clock_sys UART_4_CORE_CLK>,
		      <&clock_sys UART_4_APB_CLK >;
		clock-names = "baudclk", "apb_pclk";
		pinctrl-names = "default";
		pinctrl-0 = <&uart4_bus>;
		status = "disabled";
	};

	uart5: serial@20450000 {
		compatible = "snps,dw-apb-uart";
		reg = <0x20450000 0x1000>;
		reg-shift = <2>;
		reg-io-width = <4>;
		clocks = <&clock_sys UART_5_CORE_CLK>,
		      <&clock_sys UART_5_APB_CLK >;
		clock-names = "baudclk", "apb_pclk";
		pinctrl-names = "default";
		pinctrl-0 = <&uart5_bus>;
		status = "disabled";
	};

	uart6: serial@20460000 {
		compatible = "snps,dw-apb-uart";
		reg = <0x20460000 0x1000>;
		reg-shift = <2>;
		reg-io-width = <4>;
		clocks = <&clock_sys UART_6_CORE_CLK>,
		      <&clock_sys UART_6_APB_CLK >;
		clock-names = "baudclk", "apb_pclk";
		pinctrl-names = "default";
		pinctrl-0 = <&uart6_bus>;
		status = "disabled";
	};

	sys_reg_sys:syscon@20030000 {
		compatible = "nexell,system-reg","syscon", "simple-mfd";
		reg = <0x20030000 0x42c>;
	};

	sys_reg_usb:syscon@24030000 {
		compatible = "nexell,system-reg","syscon", "simple-mfd";
		reg = <0x24030000 0x110>;
	};

	sys_reg_hsifys:syscon@26030000 {
		compatible = "nexell,system-reg","syscon", "simple-mfd";
		reg = <0x26030000 0x30>;
	};

	sys_reg_mm:syscon@25030000 {
		compatible = "nexell,system-reg","syscon", "simple-mfd";
		reg = <0x25030000 0x60>;
	};

	timer0:timer@208c0000 {
		compatible = "nexell,nxp3220-timer";
		reg = <0x208c0000 0x100>;
		clocks = <&clock_sys TIMER_0_TCLK0_CLK>;
		clock-names = "timer0";
		clock_frequency = <100000000>;
	};

};

#include "nxp3220-pinctrl.dtsi"
