/*
 * (C) Copyright 2018 Nexell
 * JungHyun, Kim <jhkim@nexell.co.kr>
 *
 * SPDX-License-Identifier:      GPL-2.0+
 */

/dts-v1/;

#include "sip-s31nx-artik310s.dtsi"
/ {
	model = "Samsung artik310s trike board based on sip-s31nx";
	compatible = "samsung,artik310s-trike", "samsung,artik310s",
		"nexell,nxp3220";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		tick-timer = &timer0;
	};

	clock_pll: clock-src@27020000 {
		frequency = <0 800000000>,
			    <1 400000000>;
	};

	clock_sys: clock-sys@27010000 {
		clk-init-frequency = <UART_0_CORE_CLK 100000000 1>,
				     <UART_0_APB_CLK 100000000 1>,
				     <TIMER_0_APB_CLK 100000000 1>,
				     <TIMER_0_TCLK0_CLK 100000000 1>,
				     <TIMER_0_TCLK1_CLK 100000000 1>;
	};
};

&uart0 {
	clock-frequency = <100000000>;
	status = "okay";
};

&pwm {
	status = "okay";
};

&adc {
	status = "okay";
};
