/*
 * (C) Copyright 2018 Nexell
 * JungHyun, Kim <jhkim@nexell.co.kr>
 *
 * SPDX-License-Identifier:      GPL-2.0+
 */

/dts-v1/;

#include "sip-s31nx-artik310s.dtsi"
/ {
	model = "Samsung artik310s trike board based on sip-s31nx";
	compatible = "samsung,artik310s-trike", "samsung,artik310s",
		"nexell,nxp3220";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&clock_sys {
	clk-init-frequency = <UART_0_CORE_CLK 100000000 1>,
			     <UART_0_APB_CLK 100000000 1>,
			     <PWM_0_APB_CLK 100000000 1>,
			     <PWM_0_TCLK0_CLK 100000000 1>,
			     <PWM_0_TCLK1_CLK 100000000 1>,
			     <PWM_0_TCLK2_CLK 100000000 1>,
			     <PWM_0_TCLK3_CLK 100000000 1>;
};

&dwc2otg {
	status = "okay";
};

&uart0 {
	clock-frequency = <100000000>;
	status = "okay";
};

&pwm {
	status = "okay";
};

&adc {
	status = "okay";
};

&mmc2 {
	nexell,sample_shift = <0x04>;
	nexell,drive_shift = <0x04>;
	frequency = <50000000>;
	status = "okay";
};

&udown {
	status = "okay";
};
