/*
* (C) Copyright 2018 Nexell
 * JungHyun, Kim <jhkim@nexell.co.kr>
 *
 * SPDX-License-Identifier:      GPL-2.0+
 */

/dts-v1/;

#include "sip-s31nx-artik310s.dtsi"
/ {
	model = "Samsung artik310s trike board based on sip-s31nx";
	compatible = "samsung,artik310s-trike", "samsung,artik310s",
		"nexell,nxp3220";

	aliases {
		serial0 = &uart0;
		i2c0	= &i2c_0;
		i2c1	= &i2c_1;
		i2c2	= &i2c_2;
		i2c3	= &i2c_3;
		i2c4	= &i2c_4;
		spi1	= &spi_1;
		spi2	= &spi_2;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&clock_sys {
	clk-init-frequency = <UART_0_CORE_CLK 100000000 1>,
			     <UART_0_APB_CLK 100000000 1>,
			     <PWM_0_APB_CLK 100000000 1>,
			     <PWM_0_TCLK0_CLK 100000000 1>,
			     <PWM_0_TCLK1_CLK 100000000 1>,
			     <PWM_0_TCLK2_CLK 100000000 1>,
			     <PWM_0_TCLK3_CLK 100000000 1>,
			     <I2C_0_APB_CLK 100000000 1>,
			     <I2C_1_APB_CLK 100000000 1>,
			     <I2C_2_APB_CLK 100000000 1>,
			     <I2C_3_APB_CLK 100000000 1>,
			     <I2C_4_APB_CLK 100000000 1>,
			     <SPI_0_APB_CLK 100000000 1>,
			     <SPI_1_APB_CLK 100000000 1>,
			     <SPI_2_APB_CLK 100000000 1>;
};

&clock_usb {
	clk-init-frequency = <USB_0_AHB_CLK 250000000 1>;
};

&dwc2otg {
	status = "okay";
};

&ehci {
	status = "okay";
};

&uart0 {
	clock-frequency = <100000000>;
	status = "okay";
};

&pwm {
	status = "okay";
};

&adc {
	status = "okay";
};

&i2c_0 {
	clock-frequency = <100000>;
	status = "okay";
};

&i2c_1 {
	clock-frequency = <100000>;
	status = "okay";
};

&i2c_2 {
	clock-frequency = <100000>;
	status = "okay";
};

&i2c_3 {
	clock-frequency = <100000>;
	status = "okay";
};

&i2c_4 {
	clock-frequency = <100000>;
	status = "okay";
};

&mmc2 {
	nexell,sample_shift = <0x04>;
	nexell,drive_shift = <0x04>;
	frequency = <50000000>;
	status = "okay";
};

&spi_1 {
	num-cs = <1>;
	cs-gpio = <&gpio_a 9 0>;
	status = "okay";
};

&spi_2 {
	num-cs = <1>;
	cs-gpio = <&gpio_a 13 0>;
	status = "okay";
};

&udown {
	status = "okay";
};

&usb2phy {
	status = "okay";
	ehci,vbus-gpio = <&gpio_b 23 0>;
};
