CONFIG_ARM=y
CONFIG_SYS_CONFIG_NAME="artik310s_trike"
CONFIG_ARCH_NEXELL=y
CONFIG_ARCH_SIP_S31NX=y
CONFIG_DEFAULT_DEVICE_TREE="sip-s31nx-artik310s-trike"
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="artik310s#"
CONFIG_OF_CONTROL=y
CONFIG_OF_EMBED=y
CONFIG_DM_GPIO=y
CONFIG_NEXELL_GPIO=y
CONFIG_PINCTRL=y
CONFIG_REGMAP=y
CONFIG_SYSCON=y
CONFIG_CLK=y
CONFIG_CLK_NEXELL=y
CONFIG_DM_SERIAL=y
CONFIG_SYSRESET=y
CONFIG_TIMER=y
# CONFIG_EFI_LOADER is not set
