CONFIG_ARM=y
CONFIG_SYS_CONFIG_NAME="nxp3220_vtk"
CONFIG_ARCH_NEXELL=y
CONFIG_ARCH_NXP3220=y
CONFIG_DEFAULT_DEVICE_TREE="nxp3220-vtk"
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="nxp3220#"
CONFIG_OF_CONTROL=y
CONFIG_OF_EMBED=y
CONFIG_DM_SERIAL=y
CONFIG_SYSRESET=y
CONFIG_TIMER=y
# CONFIG_EFI_LOADER is not set
