CONFIG_ARM=y
CONFIG_SYS_CONFIG_NAME="nxp3220_vtk"
CONFIG_ARCH_NEXELL=y
CONFIG_DEFAULT_DEVICE_TREE="nxp3220-vtk"
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="nxp3220# "
CONFIG_CMD_MD5SUM=y
CONFIG_MD5SUM_VERFIY=y
CONFIG_CMD_MEMTEST=y
CONFIG_CMD_MEMINFO=y
CONFIG_CMD_UNZIP=y
CONFIG_CMD_GPT=y
CONFIG_CMD_MMC=y
CONFIG_CMD_PART=y
CONFIG_CMD_DFU=y
CONFIG_CMD_NX_USB_DOWNLOADER=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_TIMER=y
CONFIG_CMD_EXT4=y
CONFIG_CMD_EXT4_WRITE=y
CONFIG_CMD_FAT=y
CONFIG_CMD_FS_GENERIC=y
CONFIG_CMD_FS_UUID=y
CONFIG_PARTITION_TYPE_GUID=y
CONFIG_OF_CONTROL=y
CONFIG_OF_EMBED=y
CONFIG_REGMAP=y
CONFIG_SYSCON=y
CONFIG_CLK=y
CONFIG_CLK_NEXELL=y
CONFIG_DM_GPIO=y
CONFIG_NEXELL_GPIO=y
CONFIG_PINCTRL=y
CONFIG_DM_SERIAL=y
CONFIG_SYS_NS16550=y
CONFIG_SYSRESET=y
CONFIG_TIMER=y
CONFIG_NXP3220_TIMER=y
CONFIG_USB=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_EHCI_GENERIC=y
CONFIG_USB_GADGET=y
CONFIG_USB_GADGET_DWC2_OTG=y
CONFIG_USB_GADGET_DWC2_NEXELL_OTG=y
CONFIG_USB_GADGET_DWC2_NEXELL_DOWNLOADER=y
CONFIG_USB_NXP3220_OTG_PHY=y
CONFIG_USB_GADGET_DOWNLOAD=y
CONFIG_G_DNL_MANUFACTURER="Nexell"
CONFIG_G_DNL_VENDOR_NUM=0x2375
CONFIG_G_DNL_PRODUCT_NUM=0x3220
CONFIG_OF_LIBFDT_OVERLAY=y
# CONFIG_EFI_LOADER is not set
