CONFIG_ARM=y
CONFIG_SYS_CONFIG_NAME="nxp3220_vtk"
CONFIG_ARM_SMCCC=y
CONFIG_ARCH_NEXELL=y
CONFIG_ARCH_NXP3220=y
CONFIG_DEFAULT_DEVICE_TREE="nxp3220-vtk"
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="nxp3220#"
CONFIG_CMD_NX_USB_DOWNLOADER=y
CONFIG_OF_CONTROL=y
CONFIG_OF_EMBED=y
CONFIG_CLK=y
CONFIG_CLK_NEXELL=y
CONFIG_DM_GPIO=y
CONFIG_NEXELL_GPIO=y
CONFIG_PINCTRL=y
CONFIG_DM_PWM=y
CONFIG_PWM_NEXELL=y
CONFIG_DM_SERIAL=y
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_BASE=0x20420000
CONFIG_DEBUG_UART_CLOCK=100000000
CONFIG_DEBUG_UART_SHIFT=2
CONFIG_SYS_NS16550=y
CONFIG_SYSRESET=y
CONFIG_SYSRESET_PSCI=y
CONFIG_TIMER=y
CONFIG_NXP3220_TIMER=y
CONFIG_USB=y
CONFIG_USB_GADGET=y
CONFIG_USB_GADGET_DWC2_NEXELL_DOWNLOADER=y
CONFIG_USB_NXP3220_OTG_PHY=y
# CONFIG_EFI_LOADER is not set
